<p id="notice"><%= notice %></p>

<p>
  <b>Recorded datetime:</b>
  <%= @davis.recorded_datetime %>
</p>

<p>
  <b>It:</b>
  <%= @davis.it %>
</p>

<p>
  <b>Ot:</b>
  <%= @davis.ot %>
</p>

<p>
  <b>Hot:</b>
  <%= @davis.hot %>
</p>

<p>
  <b>Lot:</b>
  <%= @davis.lot %>
</p>

<p>
  <b>Oh:</b>
  <%= @davis.oh %>
</p>

<p>
  <b>Ih:</b>
  <%= @davis.ih %>
</p>

<p>
  <b>Dp:</b>
  <%= @davis.dp %>
</p>

<p>
  <b>Wc:</b>
  <%= @davis.wc %>
</p>

<p>
  <b>Bp:</b>
  <%= @davis.bp %>
</p>

<p>
  <b>Ws:</b>
  <%= @davis.ws %>
</p>

<p>
  <b>Hws:</b>
  <%= @davis.hws %>
</p>

<p>
  <b>Wd:</b>
  <%= @davis.wd %>
</p>

<p>
  <b>R:</b>
  <%= @davis.r %>
</p>


<%= link_to 'Edit', edit_davis_path(@davis) %> |
<%= link_to 'Back', davis_path %>
