<%= form_for(@daylight) do |f| %>
  <% if @daylight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daylight.errors.count, "error") %> prohibited this daylight from being saved:</h2>

      <ul>
      <% @daylight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :stop %><br />
    <%= f.datetime_select :stop %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
