<h1>Listing daylights</h1>

<table>
  <tr>
    <th>Start</th>
    <th>Stop</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @daylights.each do |daylight| %>
  <tr>
    <td><%= daylight.start %></td>
    <td><%= daylight.stop %></td>
    <td><%= link_to 'Show', daylight %></td>
    <td><%= link_to 'Edit', edit_daylight_path(daylight) %></td>
    <td><%= link_to 'Destroy', daylight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Daylight', new_daylight_path %>
