<h1>Listing predictions</h1>

<table>
  <tr>
    <th>Station</th>
    <th>Date</th>
    <th>Level</th>
    <th>High</th>
    <th>Low</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @predictions.each do |prediction| %>
  <tr>
    <td><%= prediction.station_id %></td>
    <td><%= prediction.date %></td>
    <td><%= prediction.level %></td>
    <td><%= prediction.high %></td>
    <td><%= prediction.low %></td>
    <td><%= link_to 'Show', prediction %></td>
    <td><%= link_to 'Edit', edit_prediction_path(prediction) %></td>
    <td><%= link_to 'Destroy', prediction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prediction', new_prediction_path %>
