<%= form_for(@sun) do |f| %>
  <% if @sun.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sun.errors.count, "error") %> prohibited this sun from being saved:</h2>

      <ul>
      <% @sun.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rise %><br />
    <%= f.datetime_select :rise %>
  </div>
  <div class="field">
    <%= f.label :set %><br />
    <%= f.datetime_select :set %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
