<h1>Listing davis</h1>

<p>
  Data Download (data will always be in metric units):
  <%= form_for Davi.new, :format => 'csv', :method => 'get' do -%>
    <fieldset>
      <%= text_field "davi", "start_date", class: "datepicker"  %>
      <%= text_field "davi", "end_date", class: "datepicker" %>
      <%= submit_tag "Download CSV" %>
    </fieldset>
<% end -%>



</p>


<p>The first record is from <%= @first.recorded_datetime.strftime("%Y-%m-%d %I:%M:%S %Z")%> and the last record is from <%= @last.recorded_datetime.strftime("%Y-%m-%d %I:%M:%S %Z")%></p>
<table class="table">
  <tr>
    <th>Recorded datetime</th>
    <th>It</th>
    <th>Ot</th>
    <th>Hot</th>
    <th>Lot</th>
    <th>Oh</th>
    <th>Ih</th>
    <th>Dp</th>
    <th>Wc</th>
    <th>Bp</th>
    <th>Ws</th>
    <th>Hws</th>
    <th>Wd</th>
    <th>R</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @davis.each do |davi| %>
  <tr>
    <td><%= davi.recorded_datetime %></td>
    <td><%= davi.it %></td>
    <td><%= davi.ot %></td>
    <td><%= davi.hot %></td>
    <td><%= davi.lot %></td>
    <td><%= davi.oh %></td>
    <td><%= davi.ih %></td>
    <td><%= davi.dp %></td>
    <td><%= davi.wc %></td>
    <td><%= davi.bp %></td>
    <td><%= davi.ws %></td>
    <td><%= davi.hws %></td>
    <td><%= davi.wd %></td>
    <td><%= davi.r %></td>
    <td><%= link_to 'Show', davi %></td>
    <td><%= link_to 'Edit', edit_davi_path(davi) %></td>
    <td><%= link_to 'Destroy', davi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

