<p id="notice"><%= notice %></p>

<p>
  <b>Recorded datetime:</b>
  <%= @davi.recorded_datetime %>
</p>

<p>
  <b>It:</b>
  <%= @davi.it %>
</p>

<p>
  <b>Ot:</b>
  <%= @davi.ot %>
</p>

<p>
  <b>Hot:</b>
  <%= @davi.hot %>
</p>

<p>
  <b>Lot:</b>
  <%= @davi.lot %>
</p>

<p>
  <b>Oh:</b>
  <%= @davi.oh %>
</p>

<p>
  <b>Ih:</b>
  <%= @davi.ih %>
</p>

<p>
  <b>Dp:</b>
  <%= @davi.dp %>
</p>

<p>
  <b>Wc:</b>
  <%= @davi.wc %>
</p>

<p>
  <b>Bp:</b>
  <%= @davi.bp %>
</p>

<p>
  <b>Ws:</b>
  <%= @davi.ws %>
</p>

<p>
  <b>Hws:</b>
  <%= @davi.hws %>
</p>

<p>
  <b>Wd:</b>
  <%= @davi.wd %>
</p>

<p>
  <b>R:</b>
  <%= @davi.r %>
</p>


<%= link_to 'Edit', edit_davi_path(@davi) %> |
<%= link_to 'Back', davis_path %>
