<div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav affix">
      <li><a href="#current"><i class="icon-chevron-right"></i> Current Conditions</a></li>
      <li><a href="#sunrise"><i class="icon-chevron-right"></i> Sunrise/Sunset</a></li>
      <li><a href="#tides"><i class="icon-chevron-right"></i> Tides</a></li>
      <li><a href="#wind"><i class="icon-chevron-right"></i> Wind</a></li>
        <li><a href="#temps"><i class="icon-chevron-right"></i> Temperatures </a></li>
        <li><a href="#precip"><i class="icon-chevron-right"></i> Precipitation</a></li>
      <li><a href="#last24"><i class="icon-chevron-right"></i> Last 24 Hours</a></li>
        <li><a href="#download"><i class="icon-chevron-right"></i> Download Data</a></li>


    </ul>
      </div>
    <div class="span9">
<h2>The Evergreen State College </h2>

<p><strong>Olympia, WA, United States 47-07-38N 122-97-08W 46M</strong></p>
<p>Information about our Campbell Scientific <%#=link_to "Weather Station" , "weather/station" %>.
</p>
<p>Information about <%#=link_to "Evapotranspiration" , "weather/evapotranspiration" %> and the reason we got the weather station.
</p>
<p>Link to us on The WeatherUnderground <a href="http://www.wunderground.com/tation/WXDailyHistory.asp?ID=KWAOLYMP42">KWAOLYMP42</a>.
</p>
<p>Access data from the old, deactivated, weather station is available <%= link_to(:here, davis_path) %>.
</p>

<section id="current">
<h2>Current weather conditions</h2>
  <p><strong>Conditions at:</strong> <%= @last_record.timestamp.to_s %></p>

  <table class="table">
       <tr valign=top>
      <td align=right bgcolor="#FFFFFF"><strong> Wind </strong></td>
      <td> Wind from the :    <%= compass(@last_record.wind_dir_avg) %> (<%= @last_record.wind_dir_avg %>)at an average of
        <%= sprintf("%.2f", @last_record.wind_speed_avg * 3.6) %> k/h

        with gusts of
        <%= sprintf("%.2f", @last_record.wind_speed_ms_max * 3.6) %> k/h
      </td>
      <td><%= link_to("24 hour graph", graph_campbels_path(days: 1, graph_name: 'wind')) %></td>
      <td></td>
    </tr>


    <tr valign=top>
      <td align=right bgcolor="#FFFFFF"><strong> Solar Radiation average </strong></td>
      <td>  <%= @last_record.solar_rad_w_avg %>Wm2</td>
      <td><%#=link_to("24 hour graph",:action => "day_solar") %></td>
      <td><%#=link_to("48 hour graph",:action => "two_day_solar") %></td>

    </tr>


    <tr valign=top>
      <td align=right bgcolor="#FFFFFF"><strong> Solar Radiation maximum </strong></td>
      <td>  <%= @last_record.solar_rad_w_max %>Wm2
      </td>
      <td><%#=link_to("24 hour graph",:action => "day_solar_max") %></td>
      <td><%#=link_to("48 hour graph",:action => "two_day_solar_max") %></td>

    </tr>


    <tr valign=top>
      <td align=right bgcolor="#FFFFFF"><strong> Temperature </strong></td>
      <td>  <%= sprintf("%.1f", @last_record.air_temp_c_avg) %> <%= @standard ? :F : :C %>
      </td>
      <td><%= link_to("24 hour graph", graph_campbels_path(days: 1, graph_name: 'temp')) %></td>
      <td><%= link_to("48 hour graph", graph_campbels_path(days: 2, graph_name: 'temp')) %></td>

    </tr>


    <tr valign=top>
      <td align=right bgcolor="#FFFFFF"><strong> Max Dew Point </strong></td>
      <td>  <%= sprintf("%.1f", @last_record.dew_point_c_max) %> <%= @standard ? :F : :C %>
      </td>
      <td></td>
      <td></td>

    </tr>


    <tr valign=top>
      <td align=right bgcolor="#FFFFFF"><strong> Min Dew Point </strong></td>
      <td>  <%= sprintf("%.1f", @last_record.dew_point_c_min) %> <%= @standard ? :F : :C %>
      </td>
      <td></td>
      <td></td>

    </tr>


    <tr valign=top>
      <td align=right bgcolor="#FFFFFF"><strong> Relative Humidity </strong></td>
      <td>  <%= @last_record.rel_hum_avg %>%
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>

</section>


 <section id="sunrise">
<h2>Sunrise / Sunset</h2>
<p>
  <% if @sunrise %>
    <p>official <strong>sunrise:</strong>  <%= @sunrise.strftime("%Y-%m-%d %I:%M:%S %Z") %> </p>
    <p>official <strong>sunset:</strong>  <%= @sunset.strftime("%Y-%m-%d %I:%M:%S %Z") %> </p>
    <% if @dst %>
        unadjusted for the currently in effect DST
    <% end %>
<% else %>
    Out of data for sunrise/set please notify scientific_computing@evergreen.edu
<% end %>

</p>
 </section>
<section id="tides">
<h2>Tides</h2>
<% @tides.each do |station,tides| %>
 <table class="table table-striped">
   <tr>
     <th colspan="3"><%= station.longname%></th>
   </tr>
   <tr>
     <th>Time</th>
     <th>Direction</th>
     <th>Height (m)</th>
   </tr>
   <%tides.sort.each do |tide|%>
    <tr>
      <td><%= tide.date.httpdate %></td>
      <td><%= tide.high ? "High" : "Low" %></td>
      <td><%= tide.level.round(2) %></td>
    </tr>
   <% end %>
 </table>

<% end %>
</section>

<section id="wind">
<h2>Wind Conditions</h2>

<div>
  <p> Wind from the <strong><%= compass(@last_record.wind_dir_avg) %> (<%= @last_record.wind_dir_avg %>)</strong> at an average of
      <strong><%= sprintf("%.2f", @last_record.wind_speed_avg * 3.6) %> k/h</strong>
      with gusts of
      <strong><%= sprintf("%.2f", @last_record.wind_speed_ms_max * 3.6) %> k/h</strong>
      <br />
    <%= link_to("24 hour graph", graph_campbels_path(days: 1, graph_name: 'wind')) %>
  </p>
     <div>
      <%= render :partial => 'wind'  %>
     </div>
</div>
</section>

<section id="temps">
  <h2>Temperatures: Maximum and Minimum </h2>
  <table class="table">
  <tr>
    <td bgcolor="#FFFFFF"><strong>Maximum<BR>
      Temperature<BR>
      C</strong></td>

    <td bgcolor="#FFFFFF"><strong>Minimum<BR>
      Temperature<BR>
      C</strong></td>

    <td></td>
  </tr>

  <tr>
    <td>
      <%= unless @last_6.empty?
            sprintf("%.1f", (@last_6.collect { |record| record.air_temp_c_max }).max)
          end %>
    </td>

    <td><%= unless @last_6.empty?
              sprintf("%.1f", (@last_6.collect { |record| record.air_temp_c_min }).max)
            end %>
    </td>

    <td>In the <strong>6 hours</strong> preceding <%= @last_record.timestamp.to_s %> </td>
  </tr>

  <tr>
    <td> <%= unless @last_24.empty?
               sprintf("%.1f", (@last_24.collect { |record| record.air_temp_c_max }).max)
             end %>
    </td>

    <td><%= unless @last_24.empty?
              sprintf("%.1f", (@last_24.collect { |record| record.air_temp_c_min }).max)
            end %>
    </td>

    <td>In the <strong>24 hours</strong> preceding <%= @last_record.timestamp.to_s %> </td>
  </tr>

</table>
</section>

<section id="precip">
  <h2>Precipitation Accumulation</h2>
<table class="table">
  <tr>
    <td bgcolor="#FFFFFF"><strong>Precipitation<BR>
      Amount (mm/hour)</strong></td>

    <td></td>
  </tr>

  <tr>
    <td>
      <% sum = 0
         (@last_24.collect { |record| record.rain_mm_total }).each do |rain|
           if rain
             sum += rain
           end
         end
      %>
      <%= sum %>
    </td>


    <td>In the </strong>24 hours</strong> preceding <%= @last_record.timestamp.to_s %> </td>
  </tr>

</table>
</section>

<section id="last24">
  <h2>Last 24 Hours</h2>
  <table padding="5px">
    <tr>
      <td>Temperature (C)</td>
      <td>Solar Rad (wm2/hour)</td>
      <td>Humidity %</td>
      <td>Wind Speed k/h</td>
      <td>Rainfall (mm/hour)</td>
    </tr>

    <tr>
      <td>
        <span class="inlinesparkline"><%= @last_24.collect { |record| record.air_temp_c_avg }.join(',') %></span>

      </td>
      <td><span class="inlinesparkline"><%= @last_24.collect { |record| record.solar_rad_w_avg }.join(',') %></span>

      </td>
      <td><span class="inlinesparkline"><%= @last_24.collect { |record| record.rel_hum_avg }.join(',') %></span>

      </td>
      <td>
        <span class="inlinesparkline"><%= @last_24.collect { |record| @standard ? record.wind_speed_avg : record.wind_speed_avg * 3.6 }.join(',') %></span>

      </td>
      <td>
        <span class="inlinesparkline"><%= @last_24.collect { |record| @standard ? record.rain_mm_total * 10 : record.rain_mm_total }.join(',') %></span>'
      </td>

    </tr>
    <tr>
      <td>Min <%= (@last_24.collect { |record| record.air_temp_c_min }).min %><%= @standard ? :F : :C %><br />
        Max <%= (@last_24.collect { |record| record.air_temp_c_max }).max %>
        F
      </td>
      <td>Max <%= (@last_24.collect { |record| record.solar_rad_w_max }).max %>wm2</td>
      <td>Min <%= (@last_24.collect { |record| record.rel_hum_min }).min %>%<br />
        Max <%= (@last_24.collect { |record| record.rel_hum_max }).max %>%
      </td>
      <td>Min <%= sprintf("%.2f", (@last_24.collect { |record| record.wind_speed_avg }).min) %>  <br />
        Max <%= sprintf("%.2f", (@last_24.collect { |record| record.wind_speed_avg }).max) %>
      </td>
      <td>Min <%= (@last_24.collect { |record| record.rain_mm_total }).min %> <br />
        Max <%= (@last_24.collect { |record| record.rain_mm_total }).max %> </td>
    </tr>


    <tr>
      <td>
        <div id='temp_graph'></div>
        <% @scale = 0.2 %>
        <%= render :partial => 'temp',locals: {days: 1 , graph_name: :temp} %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <H4>24 Hour Summary </H4>
<table class="table table-striped">
  <tr >

    <th>Time<BR>PST (UTC)</th>

    <th>Temperature Average<BR>
      C </th>

    <th>Dew Point Max<BR>
      C </th>

    <th>Wind<BR>
      km/h </th>
     </tr>
    <% @last_24.each do |row| %>
      <tr>
        <td><%= row.timestamp.strftime("%I %p (%H) %b %d") %></td>

        <td><%= sprintf("%.1f", row.air_temp_c_avg) %></td>

        <td><%= sprintf("%.1f", row.dew_point_c_max) %></td>

        <td><%= compass(row.wind_dir_avg) %>
          <% unless @standard %>
              <%= sprintf("%.2f", row.wind_speed_avg * 3.6) %> k/h
          <% else %>
              <%= sprintf("%.2f", row.wind_speed_avg) %>m/h
          <% end %> </td>

        <td></td>
      </tr>
  <% end %>

  <tr >

    <th>Time<BR>PST (UTC)</th>

    <th>Temperature Average<BR>
      C </th>

    <th>Dew Point Max<BR>
      C </th>

    <th>Wind<BR>
      km/h </th>
  </tr>


</table>
</section>

<section id="download">
  <h2>Download Data </h2>
  <p>
  <% if flash[:notice] %>
    <p style="color: red"><%= flash[:notice] %></p>
<% end %>
</p>
<p>
  (data will always be in metric units):
  <%= form_for Campbel.new, :format => 'csv', :method => 'get' do -%>
    <fieldset>
      <%= text_field "campbel", "start_date", class: "datepicker" %>
      <%= text_field "campbel", "end_date", class: "datepicker" %>
      <%= submit_tag "Download CSV" %>
    </fieldset>
<% end -%>

</p>

</section>
    </div>
</div>







