<div class="row">
    <div class="col-md-3 bs-docs-sidebar hidden-sm hidden-xs">
      <ul class="nav nav-list bs-docs-sidenav affix">
        <li><a href="/#current"><i class="icon-chevron-right"></i> Current Conditions</a></li>
        <li><a href="/#sunrise"><i class="icon-chevron-right"></i> Sunrise/Sunset</a></li>
        <li><a href="/#tides"><i class="icon-chevron-right"></i> Tides</a></li>
        <li><a href="/#wind"><i class="icon-chevron-right"></i> Wind</a></li>
        <li><a href="/#temps"><i class="icon-chevron-right"></i> Temperatures </a></li>
        <li><a href="/#precip"><i class="icon-chevron-right"></i> Precipitation</a></li>
        <li><a href="/#summary"><i class="icon-chevron-right"></i> Last 24 Hours Table</a></li>
        <li><a href="/#download"><i class="icon-chevron-right"></i> Download Data</a></li>


      </ul>
    </div>
    <div class="col-md-9">
<h2>The Evergreen State College </h2>

<p><strong>Olympia, WA, United States 47-07-38N 122-97-08W 46M</strong></p>
<p>Information about our Campbell Scientific <%#=link_to "Weather Station" , "weather/station" %>.
</p>
<p>Information about <%#=link_to "Evapotranspiration" , "weather/evapotranspiration" %> and the reason we got the weather station.
</p>
<p>Link to us on The WeatherUnderground <a href="http://www.wunderground.com/tation/WXDailyHistory.asp?ID=KWAOLYMP42">KWAOLYMP42</a>.
</p>
<p>Access data from the old, deactivated, weather station is available <%= link_to(:here, davises_path) %>.
</p>

<%= render :partial => 'current' %>


 <%= render :partial => 'sunrise' %>
<%= render :partial => 'tides' %>

<section id="wind">
<h2>Wind Conditions</h2>

<div>
  <p> Wind from the <strong><%= compass(@last_record.wind_dir_avg) %> (<%= @last_record.wind_dir_avg %>)</strong> at an average of
      <strong><%= sprintf("%.2f", @last_record.wind_speed_avg * 3.6) %> k/h</strong>
      with gusts of
      <strong><%= sprintf("%.2f", @last_record.wind_speed_ms_max * 3.6) %> k/h</strong>
      <br />
    <%= link_to("24 hour graph", graph_campbels_path(days: 1, graph_name: 'wind')) %>
  </p>
     <div>
      <%= render :partial => 'wind'  %>
     </div>
</div>
</section>

<%= render :partial => 'temps' %>

<%= render :partial => 'precip' %>

<%= render :partial => 'summary' %>

<section id="download">
  <h2>Download Data </h2>
  <p>
  <% if flash[:notice] %>
    <p style="color: red"><%= flash[:notice] %></p>
<% end %>
</p>
<p>
  (data will always be in metric units):
  <%= semantic_form_for Campbel.new, :format => 'csv', :method => 'get' do -%>
    <fieldset>
      <%= text_field "campbel", "start_date", class: "datepicker" , :hint => '11/25/2008' %>
      <%= text_field "campbel", "end_date", class: "datepicker", :hint => '11/27/2008' %>
      <%= submit_tag "Download CSV" %>
    </fieldset>
<% end -%>

</p>

</section>
    </div>
</div>







