<p><H1><B>The Evergreen State College current weather conditions: </B></H1></p>

<p><BR><b>Olympia, WA, United States 47-07-38N 122-97-08W 46M</B></p>
<p>Information about our Campbell Scientific <%#=link_to "Weather Station" , "weather/station" %>.
</p>
<p>Information about <%#=link_to "Evapotranspiration" , "weather/evapotranspiration" %> and the reason we got the weather station.
</p>
<p>Link to us on The WeatherUnderground <a href="http://www.wunderground.com/tation/WXDailyHistory.asp?ID=KWAOLYMP42">KWAOLYMP42</a>.
</p>
<p>Access data from the old, deactivated, weather station is available <%= link_to(:here, davis_path) %>.
</p>

<p>
  <% if @sunrise %>
    <p>official <b>sunrise:</b>  <%= @sunrise.strftime("%Y-%m-%d %I:%M:%S %Z") %> </p>
    <p>official <b>sunset:</b>  <%= @sunset.strftime("%Y-%m-%d %I:%M:%S %Z") %> </p>
    <% if @dst %>
        unadjusted for the currently in effect DST
    <% end %>
<% else %>
    Out of data for sunrise/set please notify scientific_computing@evergreen.edu
<% end %>

</p>

<% @tides.each do |station,tides| %>
 <table class="table">
   <tr>
     <th colspan="3"><%= station.longname%></th>
   </tr>
   <tr>
     <th>Time</th>
     <th>Direction</th>
     <th>Height (m)</th>
   </tr>
   <%tides.sort.each do |tide|%>
    <tr>
      <td><%= tide.date.httpdate %></td>
      <td><%= tide.high ? "High" : "Low" %></td>
      <td><%= tide.level.round(2) %></td>
    </tr>
   <% end %>
 </table>

<% end %>



<table class="table">
  <tr valign=top>
    <td align=right bgcolor="#FFFFFF"><B>Conditions at </B></td>
    <td><%= @last_record.timestamp.to_s %></td>
    <td></td>
    <td></td>

  </tr>
  <tr valign="top">
    <td colspan="4">
      <%= render :partial => 'wind'  %>
    </td>
  </tr>

  <tr valign=top>
    <td align=right bgcolor="#FFFFFF"><B> Wind </B></td>
    <td> Wind from the :    <%= compass(@last_record.wind_dir_avg) %> (<%= @last_record.wind_dir_avg %>)at an average of
      <%= sprintf("%.2f", @last_record.wind_speed_avg * 3.6) %> k/h

      with gusts of
      <%= sprintf("%.2f", @last_record.wind_speed_ms_max * 3.6) %> k/h
    </td>
    <td><%= link_to("24 hour graph", graph_campbels_path(days: 1, graph_name: 'wind')) %></td>
    <td></td>
  </tr>


  <tr valign=top>
    <td align=right bgcolor="#FFFFFF"><B> Solar Radiation average </B></td>
    <td>  <%= @last_record.solar_rad_w_avg %>Wm2</td>
    <td><%#=link_to("24 hour graph",:action => "day_solar") %></td>
    <td><%#=link_to("48 hour graph",:action => "two_day_solar") %></td>

  </tr>


  <tr valign=top>
    <td align=right bgcolor="#FFFFFF"><B> Solar Radiation maximum </B></td>
    <td>  <%= @last_record.solar_rad_w_max %>Wm2
    </td>
    <td><%#=link_to("24 hour graph",:action => "day_solar_max") %></td>
    <td><%#=link_to("48 hour graph",:action => "two_day_solar_max") %></td>

  </tr>


  <tr valign=top>
    <td align=right bgcolor="#FFFFFF"><B> Temperature </B></td>
    <td>  <%= sprintf("%.1f", @last_record.air_temp_c_avg) %> <%= @standard ? :F : :C %>
    </td>
    <td><%= link_to("24 hour graph", graph_campbels_path(days: 1, graph_name: 'temp')) %></td>
    <td><%= link_to("48 hour graph", graph_campbels_path(days: 2, graph_name: 'temp')) %></td>

  </tr>


  <tr valign=top>
    <td align=right bgcolor="#FFFFFF"><B> Max Dew Point </B></td>
    <td>  <%= sprintf("%.1f", @last_record.dew_point_c_max) %> <%= @standard ? :F : :C %>
    </td>
    <td></td>
    <td></td>

  </tr>


  <tr valign=top>
    <td align=right bgcolor="#FFFFFF"><B> Min Dew Point </B></td>
    <td>  <%= sprintf("%.1f", @last_record.dew_point_c_min) %> <%= @standard ? :F : :C %>
    </td>
    <td></td>
    <td></td>

  </tr>


  <tr valign=top>
    <td align=right bgcolor="#FFFFFF"><B> Relative Humidity </B></td>
    <td>  <%= @last_record.rel_hum_avg %>%
    </td>
    <td></td>
    <td></td>
  </tr>
</table>


<style type="text/css">
    td {
        padding-right: 1.5cm
    }
</style>
<table>
  <tr align="center">
    <th colspan=5>Last 24 hours</th>
  </tr>
  <tr>
    <td>Temperature (C)</td>
    <td>Solar Rad (wm2 per hour)</td>
    <td>Humidity percentage</td>
    <td>Wind Speed k/h</td>
    <td>Rainfall (mm per hour)</td>
  </tr>

  <tr>
    <td>
      <span class="inlinesparkline"><%= @last_24.collect { |record| record.air_temp_c_avg }.join(',') %></span>

    </td>
    <td><span class="inlinesparkline"><%= @last_24.collect { |record| record.solar_rad_w_avg }.join(',') %></span>

    </td>
    <td><span class="inlinesparkline"><%= @last_24.collect { |record| record.rel_hum_avg }.join(',') %></span>

    </td>
    <td>
      <span class="inlinesparkline"><%= @last_24.collect { |record| @standard ? record.wind_speed_avg : record.wind_speed_avg * 3.6 }.join(',') %></span>

    </td>
    <td>
      <span class="inlinesparkline"><%= @last_24.collect { |record| @standard ? record.rain_mm_total * 10 : record.rain_mm_total }.join(',') %></span>'
    </td>

  </tr>
  <tr>
    <td>Min <%= (@last_24.collect { |record| record.air_temp_c_min }).min %><%= @standard ? :F : :C %>/Max <%= (@last_24.collect { |record| record.air_temp_c_max }).max %>
      F
    </td>
    <td>Max <%= (@last_24.collect { |record| record.solar_rad_w_max }).max %>wm2</td>
    <td>Min <%= (@last_24.collect { |record| record.rel_hum_min }).min %>% /
      Max <%= (@last_24.collect { |record| record.rel_hum_max }).max %>%
    </td>
    <td>Min <%= sprintf("%.2f", (@last_24.collect { |record| record.wind_speed_avg }).min) %>
      /Max <%= sprintf("%.2f", (@last_24.collect { |record| record.wind_speed_avg }).max) %>
    </td>
    <td>Min <%= (@last_24.collect { |record| record.rain_mm_total }).min %> /Max <%= (@last_24.collect { |record| record.rain_mm_total }).max %> </td>
  </tr>


  <tr>
    <td>
      <div id='temp_graph'></div>
      <% @scale = 0.2 %>
      <%= render :partial => 'temp',locals: {days: 1 , graph_name: :temp} %>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>




<table class="table">
  <tr>
    <td colspan=3>
      <H3>Maximum and Minimum Temperatures</H3>
    </td>
  </tr>

  <tr>
    <td bgcolor="#FFFFFF"><B>Maximum<BR>
      Temperature<BR>
      C</B></td>

    <td bgcolor="#FFFFFF"><B>Minimum<BR>
      Temperature<BR>
      C</B></td>

    <td></td>
  </tr>

  <tr>
    <td>
      <%= unless @last_6.empty?
            sprintf("%.1f", (@last_6.collect { |record| record.air_temp_c_max }).max)
          end %>
    </td>

    <td><%= unless @last_6.empty?
              sprintf("%.1f", (@last_6.collect { |record| record.air_temp_c_min }).max)
            end %>
    </td>

    <td>In the <B>6 hours</B> preceding <%= @last_record.timestamp.to_s %> </td>
  </tr>

  <tr>
    <td> <%= unless @last_24.empty?
               sprintf("%.1f", (@last_24.collect { |record| record.air_temp_c_max }).max)
             end %>
    </td>

    <td><%= unless @last_24.empty?
              sprintf("%.1f", (@last_24.collect { |record| record.air_temp_c_min }).max)
            end %>
    </td>

    <td>In the <B>24 hours</B> preceding <%= @last_record.timestamp.to_s %> </td>
  </tr>


</table>

<table class="table">
  <tr>
    <td colspan=2>
      <H3>Precipitation Accumulation</H3>
    </td>
  </tr>

  <tr>
    <td bgcolor="#FFFFFF"><B>Precipitation<BR>
      Amount (mm per hour)</B></td>

    <td></td>
  </tr>

  <tr>
    <td>
      <% sum = 0
         (@last_24.collect { |record| record.rain_mm_total }).each do |rain|
           if rain
             sum += rain
           end
         end
      %>
      <%= sum %>
    </td>


    <td>In the <B>24 hours</B> preceding <%= @last_record.timestamp.to_s %> </td>
  </tr>



</table>

<table class="table">
  <tr>
    <td colspan=5>
      <H3>24 Hour Summary </H3>
    </td>

    <td></td>
  </tr>

  <tr >

    <th>Time<BR>PST (UTC)</th>

    <th>Temperature Average<BR>
      C </th>

    <th>Dew Point Max<BR>
      C </th>

    <th>Wind<BR>
      km/h </th>
     </tr>
    <% @last_24.each do |row| %>
      <tr>
        <td><%= row.timestamp.strftime("%I %p (%H) %b %d") %></td>

        <td><%= sprintf("%.1f", row.air_temp_c_avg) %></td>

        <td><%= sprintf("%.1f", row.dew_point_c_max) %></td>

        <td><%= compass(row.wind_dir_avg) %>
          <% unless @standard %>
              <%= sprintf("%.2f", row.wind_speed_avg * 3.6) %> k/h
          <% else %>
              <%= sprintf("%.2f", row.wind_speed_avg) %>m/h
          <% end %> </td>

        <td></td>
      </tr>
  <% end %>

  <tr >

    <th>Time<BR>PST (UTC)</th>

    <th>Temperature Average<BR>
      C </th>

    <th>Dew Point Max<BR>
      C </th>

    <th>Wind<BR>
      km/h </th>
  </tr>


</table>

<p>
  <% if flash[:notice] %>
    <p style="color: red"><%= flash[:notice] %></p>
<% end %>
</p>
<p>
  Data Download (data will always be in metric units):
  <%= form_for Campbel.new, :format => 'csv', :method => 'get' do -%>
    <fieldset>
      <%= text_field "campbel", "start_date", class: "datepicker" %>
      <%= text_field "campbel", "end_date", class: "datepicker" %>
      <%= submit_tag "Download CSV" %>
    </fieldset>
<% end -%>

</p>







