<p id="notice"><%= notice %></p>

<p>
  <b>Timestamp:</b>
  <%= @campbel.timestamp %>
</p>

<p>
  <b>Record num:</b>
  <%= @campbel.record_num %>
</p>

<p>
  <b>Air temp c avg:</b>
  <%= @campbel.air_temp_c_avg %>
</p>

<p>
  <b>Air temp c max:</b>
  <%= @campbel.air_temp_c_max %>
</p>

<p>
  <b>Air temp c min:</b>
  <%= @campbel.air_temp_c_min %>
</p>

<p>
  <b>Dew point c max:</b>
  <%= @campbel.dew_point_c_max %>
</p>

<p>
  <b>Dew point c min:</b>
  <%= @campbel.dew_point_c_min %>
</p>

<p>
  <b>Wind chill c max:</b>
  <%= @campbel.wind_chill_c_max %>
</p>

<p>
  <b>Wind chill c min:</b>
  <%= @campbel.wind_chill_c_min %>
</p>

<p>
  <b>Heat index c max:</b>
  <%= @campbel.heat_index_c_max %>
</p>

<p>
  <b>Heat index c min:</b>
  <%= @campbel.heat_index_c_min %>
</p>

<p>
  <b>Wind speed ms max:</b>
  <%= @campbel.wind_speed_ms_max %>
</p>

<p>
  <b>Wind speed avg:</b>
  <%= @campbel.wind_speed_avg %>
</p>

<p>
  <b>Etrs mm total:</b>
  <%= @campbel.etrs_mm_total %>
</p>

<p>
  <b>Rain mm total:</b>
  <%= @campbel.rain_mm_total %>
</p>


<%= link_to 'Edit', edit_campbel_path(@campbel) %> |
<%= link_to 'Back', campbels_path %>
