<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Evergreen State College Weather Station</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Le styles -->
  <title>Weather</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag 'application' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      $(function() {
          /** This code runs when everything has been loaded on the page */
          /* Inline sparklines take their values from the contents of the tag */
          $('.inlinesparkline').sparkline();

          /* Use 'html' instead of an array of values to pass options
           to a sparkline with data in the tag */
          $('.inlinebar').sparkline('html', {type: 'bar', barColor: 'red'} );

          /*activate datapickers*/
          $(function(){ $( ".datepicker" ).datepicker();});
      });
  </script>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="../assets/js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/assets/favicon.ico">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" href="http://www.evergreen.edu"><img src="http://wikis.evergreen.edu/computing/skins/common/images/evergreen_logo221.png"> </a>
      <a class="brand" href="/">Weather Station</a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/station">About the station</a></li>
          <li><a href="https://help.evergreen.edu/ac">Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <p><a href="http:www.evergreen.edu">The Evergreen State College</a> | 2700 Evergreen Parkway NW, Olympia, Washington 98505</p>
    <ul class="footer-links">
      <li><a href="http:help.evergreen.edu">Site Contact</a></li>
      <li class="muted">·</li>
      <li><a href="http:scicomp.evergreen.edu">Scientific Computing</a></li>
    </ul>
  </div>

</footer>

</body>

</html>
